{{#unless hidden}}
<div style='background-color:#dddddd'>
    {{{change}}}

    <button class='glyphicon glyphicon-ok' {{action 'accept'}}/>
    <button class='glyphicon glyphicon-remove' {{action 'reject'}}/>
    <button class='glyphicon glyphicon-comment' {{action 'clarify'}}/>
</div>
{{/unless}}
