<div style='background-color:#dddddd'>
    {{{change}}}

    <button class='glyphicon glyphicon-remove' {{action 'accept'}}/>
    <button class='glyphicon glyphicon-remove' {{action 'Reject'}}/>
    <button class='glyphicon glyphicon-remove' {{action 'clarify'}}/>
</div>