<div class="panel panel-default">
  <div class="panel-body">
    {{message.src_user_id}} says : {{message.content}}
  </div>
  {{message.timestamp}}
  <button class="glyphicon glyphicon remove" {{action 'destroyMessage'}}>x</button>
</div>
