<div class="panel panel-default">
  <div class="panel-body">
    {{message.resource_type}} : {{message.content}}
  </div>
  {{message.timestamp}}
  <span class="glyphicon glyphicon remove" {{action "destroy" message}}>x</span>
</div>
