{{#fhir-element isSubElement=true parent=parent name=name type='CodeableConcept' as |section|}}
	{{#if (eq section "expanded")}}
	<ul>
		<li>{{fhir-edit name='text' attribute=attribute.text}}</li>
	</ul>
	{{else}}{{fhir-edit name='text' attribute=attribute.text}} {{/if}}
{{/fhir-element}}