<button class="btn btn-primary" type="button">
  Unread <span class="badge">{{unreadCount}}</span>
</button>
{{input action="createMessage" aria-controls="existing-user-table" placeholder="Search"}}
{{#each chatMessages as |message|}}
    {{chat-message message=message}}
{{/each}}
