<div class="btn-group">
    <button type="button" data-toggle="dropdown"
        class="btn btn-default dropdown-toggle"
        aria-expanded="true">{{attribute}} &nbsp;<span class="caret"></span>
    </button>
    <div role="menu" class="dropdown-menu">
        {{#each finalChoices as |choice|}}
            <li><a data-switch-set="onColor" {{action 'setChoice' choice}}
            data-switch-value={{choice}}>{{choice}}</a></li>
    {{/each}}
    </div>
</div>
