<select {{action 'setChoice' patient on='change'}} class="form-control">
    {{#each finalChoices as |choice|}}
        <option value={{choice}}>
            <div>
                {{choice}}
            </div>
        </option>
    {{/each}}
</select>

