{{view 'select' content=finalChoices class="form-control" selection=diffAttribute}}
{{#if (gt calculatedPatch.length 0)}} 
    <div style='background-color:#dddddd'>
	    {{{calculatedPatch}}}
		<button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
	</div> 
{{/if}}