<div class='well fhir-column-wrapper patient-info-wrapper' style='margin: 0.5em 0;'>
    <div id="patient-info-column" class='panel-group fhir-column patient-info'>
        <h3 class='fhir-column-header'>Patient Info</h3>
        {{comm-channel resource=patient.model resource_type='Patient' show_all='true'}}
    </div>
</div>