{{#if isAdmin}}
    <div class="col-sm-12">
      <div class="panel panel-dlefault">
        <div class="panel-heading">
            <div class="panel-icon"><i class="icon ion-navicon-round"></i></div>
            <h3 class="panel-title">Account Requests Awaiting Action ({{filteredContent.length}} found)</h3>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>  
              <th class="fullName">
                Full Name
                <div class="order pull-left">
                  <a class="asc">&uarr;</a>
                  <a class="desc">&darr;</a>
                </div>
              </th> 
              <th class="approval"></th>
             <!-- <th class="provider">
                Care Provider(s)
                <div class="order pull-left">
                  <a class="asc">&uarr;</a>
                  <a class="desc">&darr;</a>
                </div>
              </th>-->
            </tr>
          </thead>
          
             <tbody>
             <tr> Doe, Jane </tr>
                <tr>
                  <button>Approve</button>
                  <button>Deny</button>
                </tr>
<tr> Smith, John </tr>
                <tr>
                  <button>Approve</button>
                  <button>Deny</button>
                </tr>
            </tbody>
          </table>
          </div></div>
 {{else}}
 Sorry, this page is only accessible by administrators.  
 {{/if}}
