<div class="row">
    <div class="col-xs-8">
        <h3 class="fhir-column-header"><span class="resource-type-letter">G</span>oals</h3>
    </div>
    <div class="col-xs-4" style="padding-top:10px;padding-right:0px;padding-left:0px">
        <button class="nobackground f-right" {{action 'createRecord' 'Goal'}}>
            <span class="glyphicon glyphicon-plus"></span> <strong>Add</strong>
        </button>
    </div>
</div>
<div id="goals-column" class="panel-group fhir-column" style="{{careplan.splitStyle}}">
    {{#each model as |goal|}}
        {{resource-goal root=goal careplan=careplan}}
    {{else}}
        No Goals<br/>
    {{/each}}

</div>
