<div class="row">
    <div class="col-xs-8">
        <h3 class="fhir-column-header">Medications</h3>
    </div>
    {{#if isPhysician}}
    <div class="col-xs-4" style="padding-top:10px;padding-right:0px;padding-left:0px">
        <span class="nobackground f-right">
            {{#link-to 'medrec' careplan.patient}} Reconcile {{/link-to}}
        </span>
    </div>
    {{else}}
    <div class="col-xs-4" style="padding-top:10px;padding-right:0px;padding-left:0px">
        <span class="nobackground f-right">
            {{#link-to 'medentry' careplan.patient}} Report Home Meds {{/link-to}}
        </span>
    </div>
    {{/if}}
</div>
<div class="panel-group fhir-column">
    {{#each model as |medicationOrder|}}
        {{resource-medication-order root=medicationOrder careplan=careplan}}
    {{else}}
        No Medications<br/>
    {{/each}}
    <!--<button class="glyphicon glyphicon-plus" {{action 'add'}}/> <strong>Add Medication</strong>-->
</div>
