{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

{{#draggable-object-target class='fhir-workspace-wrapper' action='addToWorkspace'}}
    <div class='well fhir-column-wrapper' style='margin: 0.5em 0;'>
        <div id="workspace-column" class='panel-group fhir-column'>
            {{! Note: we haven't actually done anything to restrict workspace dropping to the workspace-drop div, you can still drag directly in. Not a big deal though, since once the workspace is "full" there's not really any drag target space left }}
            {{#unless isFull}}
                <div class="workspace-drop">
                    Drag a resource here to add it to the workspace
                </div>
            {{/unless}}
            <div class="row">
                {{#sortable-objects sortableObjectList=resources enableSort=true}}
                    {{#each resources as |resource|}}
                        <div class="col-xs-4">
                            {{component (concat 'resource-' resource._internalModel.modelName) root=resource careplan=careplan isWorkspace=true workspace=this toHighlight=careplan.toHighlight}}
                        </div>
                    {{/each}}
                {{/sortable-objects}}
            </div>
    </div>
</div>
{{/draggable-object-target}}
